.wrapper {
    position: relative;
    height: 200px;
    width: 50%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper .icon {
    font-size: 100px;
    color: #9658fe;
}

.wrapper.active {
    border: none;
}

.wrapper .image {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.wrapper .text {
    font-size: 20px;
    font-weight: 500;
    color: #5b5b7b;
}
.wrapper #cancel-btn i {
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658fe;
    cursor: pointer;
    display: none;
}

.wrapper #cancel-btn i:hover {
    color: #e74c3c;
}

.wrapper.active:hover #cancel-btn i {
    display: block;
}
.wrapper #cancel-btn i:hover {
    color: #e74c3c;
}

